@import "../../../assets/styles/variables.scss";

.mat-toolbar{
  height: 80px;
  left: 0px;
  top: 0px;

/* advise / primary / pdark */

  background: $black;
}

h3{
  position: absolute;
  top: 8px;
  right: 16px;
  font-family: "RobotoRegular", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: $white;
}

img:hover{
  cursor: pointer;
}