$red: #bd3736;
$black: #010000;
$white: #fcfcfc;
$yellow: #ffd924;

@font-face {
  font-family: "RobotoBlack";
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "RobotoBold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "RobotoRegular";
  src: url(../fonts/Roboto-Regular.ttf);
}